* {
    padding: 0;
    margin: 0;
    font-family: 'Cera Pro', sans-serif;
}
html {
    box-sizing: border-box;
    height: 100%;
}
header {
    height: 55px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
}

/*account and contact*/
.no-scroll {
    overflow: hidden;
}
.contact {
    cursor: pointer;
    margin-left: 30px;
    font-size: 12px;
    padding: 8px;
    background-color: #abd9ff;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.contact > button > a {
    color: black;
    text-decoration: none;
    font-weight: 550;
}
.contact > button {
    font-size: 12px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #abd9ff;
}
.account {
    flex: 0 1 85%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.account > button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    font-size: 0.75rem;
    line-height: 1.1875rem;
    color: rgb(0, 0, 0);
    font-weight: 550;
    border: none;
    background: transparent;
}
.account > button:focus {
    outline: none;
}
.account > button > svg {
    margin-right: 0.625rem;
    line-height: 0;
    height: 20px;
    width: 20px;
}
/*header*/
.header {
    height: 75px;
    background-color: rgba(255, 207, 0, 1);
    display: flex;
    justify-content: space-between;
}
.logo-menu {
    display: flex;
    width: 30%;
}
.logo {
    padding: 10px 30px;
}
.logo > a > img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.menu {
    padding-left: 20px;
    position: relative;
    z-index: 4;
}
.shop,
.dis,
.help {
    line-height: 75px;
    color: black;
    font-size: 16px ;
    font-weight: 500;
    text-decoration: none;
    padding: 0 18px;
    background-color: transparent;
    border: none;
    outline: none;
}
.help:hover,
.dis:hover,
.shop:hover {
    text-decoration: underline;
    color: #000;
}
.help:focus,
.dis:focus,
.shop:focus {
    outline: none;
}
.hidden-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 3;
    display: none;
}
.hidden-menu-content {
    margin-top: 8rem;
    height: 100%;
    margin-left: 7rem;
    padding-left: 2.5rem;
    transition: opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    opacity: 1;
}
.content-1 > a {
    display: block;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.menu-content-list {
    overflow-y: auto;
    padding-right: 0.9375rem;
    height: calc(((100% - 1.25rem) - 1.1875rem) - 0.625rem);
}
.menu-content-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 13.75rem;
    margin-bottom: 1.125rem;
}
.menu-content-item > a {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: rgb(0, 0, 0);
}
.content-1,
.content-2,
.content-3 {
    display: none;
}
.search-bar {
    width: 55%;
    display: flex;
    align-items: center;
    z-index: 2;
}
.utility-section {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}
.hidden-search {
    display: none;
    height: 50px;
    width: 300px;
    background-color: #fff;
    border-radius: 30px;
    z-index: 2;
}
.btn-exit {
    right: 6%;
    top: 4%;
    position: absolute;
    font-size: 24px;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: none;
    outline: none;
}   
.btn-exit:focus {
    outline: none;
} 
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.search:focus {
    outline: none;
}
.hidden-search-close-btn,
.hidden-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.hidden-search-icon:focus {
    outline: none;
}
.hidden-search-keyword {
    width: 200px;
    height: 100%;
    border: none;
    outline: none;
}
.search,
.wishlist,
.cart {
    padding: 0 16px;
    font-size: 20px;
}
.hidden-search-close-btn,
.hidden-search-icon {
    font-size: 20px;
}
.hidden-search-close-btn > a,
.hidden-search-icon > a,
.search > a,
.wishlist > a,
.cart > a {
    color: black;
}
.cart {
    display: flex;
    align-items: center;
}
.cart > p {
    padding-left: 4px;
    font-size: 12px;
    margin-bottom: -3px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ mờ 50% */
    z-index: 2; /* Đảm bảo overlay nằm trên các phần tử khác */
    display: none; /* Ẩn overlay ban đầu */
}

/* footer*/
footer {
    width: 100%;
}
.footer-1,
.footer-2,
.footer-3 {
    background: rgb(32, 29, 72);
    color: rgb(255, 255, 255);
    padding: 40px 20px 20px;
}
.footer-section {
    display: block;
}
.footer-section-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 82.5rem;
    background-color: rgb(32, 29, 72);
    margin: 0px auto;
}
.wrapper-logo-region {
    margin-right: 1.25rem;
    padding: 0px;
    flex: 1 1 0%;
    background: rgb(32, 29, 72);
    color: rgb(255, 255, 255);
}
.logo-region {
    max-width: 601px;
    display: block;
}
.logo-img2 {
    display: flex;
    margin-bottom: 20px;
}
.logo-img2 > img {
    height: 6.0625rem;
    width: 6.0625rem;
    margin-right: 0.75rem;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.region {
    margin-bottom: 0px;
    flex: 1 1 0%;
    display: flex;
    align-items: flex-start;
}
.region > button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.1875rem;
    padding: 0.625rem 0.9375rem 0.625rem 0.625rem;
    background-color: rgb(24, 21, 45);
    margin-bottom: 1.5625rem;
    color: #fff;
    border: none;
    outline: none;
}
.region > button > i {
    padding: 0.625rem;
    margin: 0px 0.625rem 0px 0px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    line-height: 0;
    height: 19px;
    width: 25px;
}
.gift-cards > a {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 0.625rem 0px
}
.gift-cards > a:hover {
    text-decoration: underline;
}
.wrapper-supports {
    padding-top: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    flex: 4 1 0%;
}
.support {
    flex: 1 1 0%;
    padding-left: 0.625rem;
    margin-right: 1.25rem;
}
.support-title {
    padding: 0px 0.9375rem;
    margin: 0px 0px 1.5625rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.support-list {
    list-style: none;
    cursor: pointer;
}
.support-list-item {
    display: list-item;
    text-align: -webkit-match-parent;
}
.support-list-item > a {
    display: block;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    line-height: 1.5625rem;
}
.privacies {
    display: flex;
    flex-direction: column;
    max-width: 82.5rem;
    background-color: rgb(32, 29, 72);
    margin: 0px auto;
}
.privacy-list {
    list-style: none;
    display: flex;
}
.privacy-list-item {
    margin: 0 30px 20px 0;
}
.privacy-list-item:hover > a {
    text-decoration: underline;
}
.privacy-list-item > a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.privacies > p {
    font-size: 12px;
    margin: 0 0 20px;
}
.email-social {
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    max-width: 82.5rem;
    background-color: rgb(32, 29, 72);
    margin: 0px auto;
}
.email-input-container {
    width: 250px;
    margin: 30px 0 0;
}
.input-button {
    display: flex;
    width: 100%;
}
.email {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    background: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    height: 3.45rem;
    position: relative;
    padding: 1.125rem 2.8125rem 0px 1.25rem;
    border: 1px solid rgb(224, 224, 224);
}
.email > input {
    border: none;
    outline: none;
}
.email-sub-error {
    position: absolute;
    color: #fff;
    font-size: 12px;
    font-weight: 550;
    left: 0;
    top: 100%;
}
.btn-go:hover {
    color: #000;
}
.btn-go {
    white-space: nowrap;
    transform: translateX(-20px);
    margin-right: -1px;
    border-radius: 0px 0.3125rem 0.3125rem 0px;
    box-shadow: none;
    max-height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(253, 128, 36);
    border-color: rgb(253, 128, 36);
    color: rgb(0, 0, 0);
    position: relative;
    border-width: 2px;
}
.email-sub,
.social {
    display: block;
    max-width: 82.5rem;

}
.email-sub-content > span,
.social-icon > span {
    font-weight: 550;
}
.social-button {
    margin: 30px 0 0;
    display: flex;
}
.social-button-icon {
    font-size: 18px;
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background-color: #121029;
}
.social-button-icon > a {
    color: #fff;
}

/*recommended product*/

.recommen {
    width: 100%;
    padding-bottom: 50px;
}
.recommen-title {
    padding: 30px 70px 20px;
    font-size: 32px;
    font-weight: 400;
}
.recommen-pro {
    display: flex;
}
.prev-btn,
.next-btn {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev-btn > button,
.next-btn > button {
    border: 1px solid rgb(221, 218, 218);
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    background-color: white;
    transform: translateY(-200%);
    z-index: 2;
    outline: none;
}
.prev-btn > button:hover,
.next-btn > button:hover {
    background-color: rgb(221, 218, 218);
}
.hide {
    display: none;
}
.product-wrapper {
    position: relative;
    width: calc(100% - 120px);
    display: flex;
    justify-content: space-around;
    height: 510px;
    overflow: hidden;
}
.product-item {
    height: 100%;
    width: 23%;
    display: none; 
}
.product-item.active {
    display: block;
}
.product-item-img {
    height: 64%;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgb(224, 224, 224);
}
.product-item-name {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}
.product-item-name > a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
.product-item-name > a:hover {
    text-decoration: underline;
}
.product-item-name > a > span {
    word-wrap: break-word;
}
.product-item-rating,
.product-item-price {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
}
.product-item-price { 
    font-size: 18px;
    color: #000;
    font-weight: 600;
}
.product-item-rating > i {
    color: rgba(255, 213, 0, 1);
}
.product-item-btn {
    height: 11%;
    text-align: center;
    line-height: 11%;
}
.add-bag {
    outline: none;
    background: transparent;
    border: none;
    height: 98%;
    width: 100%;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    background-color: rgba(253, 128, 36, 1);
}
.add-bag:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(253, 128, 36, 1);
}
.add-bag:focus {
    outline: none;
}
.add-wishlist,
.new {
    height: 20%;
}
.img {
    height: 60%;
    width: 100%;
}
.wish-list-title {
    left: 18%;
    font-family: 'Cera pro', sans-serif;
    font-weight: 550;
    font-size: 12px;
    position: absolute;
    top: 32%;
}
.img > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img > a > img {
    max-width: 80%;
    height: auto;
    transition: 0.5s;
    z-index: 1;
}
.product-item-img {
    overflow: hidden;
}
.product-item-img:hover > .img > a > img,
.img > a > img:hover {
    transform: scale(1.25);
}
.add-wishlist {
    position: relative;
}
.add-wishlist > button {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: rgb(241, 238, 238);
}
.add-wishlist > button > a {
    color: rgba(0, 109, 183, 1);
    font-weight: bold;
}
.new {
    position: relative;
}
.new > span {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 12px;
    padding: 6px 10px;
    background-color: rgba(255, 207, 0, 1);
}

/*cart*/

.cart-style-container {
    margin: 0px auto;
    background: rgb(248, 248, 248);
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.min-height-content {
    width: 100%;
    min-height: calc(85vh - 4.24rem);
}
.cart-style-header {
    padding: 0px 1.875rem;
    margin-top: 2.5rem;
    width: 100%;
    max-width: 100rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.875rem auto 0px;
}
.cart-style-title {
    margin-right: 0.3125rem;
}
.media-query {
    display: block;
}
.cart-title {
    margin: 0px;
    color: inherit;
    font-size: 1.5rem;
    line-height: 2.3125rem;
    font-weight: 400;
    text-transform: inherit;
}
.cart-style-wrapper {
    margin-top: 1.25rem;
    flex-flow: wrap;
    padding: 0px 1.875rem 1.875rem;
    display: flex;
    margin: 0px auto;
    width: 100%;
    max-width: 100rem;
    gap: 1.25rem;
}
.cart-content-container {
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 65%;
}
.animate-height-wrapper {
    height: auto;
    transition: height 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    overflow: visible;
}
.animate-height-wrapper::after {
    content: "";
    height: 0px;
    display: block;
}
.animate-height-wrapper::before {
    content: "";
    height: 0px;
    display: block;
}
.line-item-wrapper {
    margin-bottom: 0px;
    background: rgb(255, 255, 255);
}
.line-item-section-header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(255, 255, 255);
    list-style: none;
    padding: 0.9375rem 1.25rem;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.section-heading {
    font-size: 1rem;
    margin: 0px;
    color: rgb(0, 133, 55);
    line-height: 1.5625rem;
    font-weight: 550;
    text-transform: inherit;
}
.line-item-content-wrapper {
    margin-bottom: 1.875rem;
    padding: 0px 1.25rem;
}
.product-row-container {
    border-bottom: none;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.875rem 0px;  
    position: relative;
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.product-row-container.boder {
    border-bottom: 1px solid rgb(224, 224, 224);
}
.custom-wrapper {
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: relative;
}
.product-image-wrapper {
    width: 8.49rem;
    margin-right: 2.5rem;
    height: 100%;
    text-align: center;
    flex-shrink: 0;
}
.link-style {
    cursor: pointer;
}
.link-style:hover {
    text-decoration: underline;
}
.link-style > img {
    max-width: 100%;
}
.line-item-detail-container {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.title-wrapper {
    display: flex;
}
.text-wrapper {
    display: flex;
}
.link-style-a {
    margin-bottom: 0.9375rem;
    position: static;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.link-style-a::before {
    inset: 0px;
    content: "";
    overflow: hidden;
    white-space: nowrap;
}
.link-style-a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}
.link-item-title {
    margin-top: 0px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: 550;
    text-transform: inherit;
}
.cart-message-wrapper {
    margin-bottom: 0.75rem;
}
.action-wrapper {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    z-index: 1;
}
.product-infor-container {
    z-index: 1;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.product-price-wrapper {
    width: 100%;
    text-align: left;
}
.product-price {
    display: flex;
    color: inherit;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-transform: inherit;
}
.quantity-container {
    flex: 0 1 45%;
    width: auto;
    max-width: 9.09rem;
    margin: 0px 1.25rem;
}
.quantity-wrapper {
    flex: 0 0 auto;
    min-width: 10rem;
    margin-right: 1.125rem;
    display: flex;
    height: 2.7rem;
    border-radius: 5px;
}
.modify-button-minus {
    position: relative;
    cursor: pointer;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 100%;
    min-width: 2.5rem;
    border: 1px solid rgb(224, 224, 224);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(255, 255, 255);
    -webkit-box-pack: center;
    justify-content: center;
    touch-action: manipulation;
}
.modify-button-plus {
    position: relative;
    cursor: pointer;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 100%;
    min-width: 2.5rem;
    border: 1px solid rgb(224, 224, 224);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(255, 255, 255);
    -webkit-box-pack: center;
    justify-content: center;
    touch-action: manipulation;
}
.quantity-input > input:focus,
.modify-button-minus:focus,
.modify-button-plus:focus {
    outline: none;
}
.quantity-input {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-top: thin solid rgb(224, 224, 224);
    border-bottom: thin solid rgb(224, 224, 224);
    width: 2.5rem;
    max-width: 5rem;
}
.quantity-input > input {
    background-image: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
    cursor: text;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    word-spacing: 0px;
    padding: 0px;
    /* -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb; */
    appearance: none;
    color: rgb(0, 0, 0);
}
.wishlist-wrapper {
    -webkit-box-pack: unset;
    justify-content: unset;
    -webkit-box-align: unset;
    align-items: unset;
    margin: 0.75rem 0px;
    display: flex;
    height: 100%;
    padding-top: 0.3125rem;
    min-width: 5rem;
}
.wishlist-dropdown-wrapper {
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    max-width: 90%;
}
.wishlist-toggle-button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0px;
}
.add-to-wishlist {
    padding: inherit !important;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: opacity 0.3s ease 0s;
    border: none;
    background: transparent;
}
.add-to-wishlist > svg {
    height: 1.875rem;
    width: 1.875rem;
}
.add-to-wishlist:focus {
    outline: none;
}
.wishlist-toggle-title {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 0.625rem;
}
.action-wrapper {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    z-index: 1;
}
.product-remove-container {
    margin-bottom: auto;
    z-index: 1;
}
.remove-icon-button {
    margin-left: auto;
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    border: 0;
    padding: 0;
    background: transparent;
    box-shadow: none;
    cursor: pointer;
}
.remove-icon-button:focus {
    outline: none;
}
.remove-icon-button > svg {
    color: rgb(0, 109, 183);
    line-height: 0;
}
.order-summary-wrapper {
    flex-basis: calc(35% - 1.25rem);
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.order-summary-container {
    background: rgb(255, 255, 255);
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.loading-wrapper {
    position: relative;
    pointer-events: auto;
}
.order-summary-title {
    padding: 0px 1.25rem;
}
.order-summary-text {
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 1.25rem 0px 0.9375rem;
    margin: 0px 0px 1.25rem;
    color: inherit;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 550;
    text-transform: inherit;
}
.order-summary {
    position: relative;
    padding-top: 0px;
    border-top: none;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgb(255, 255, 255);
    z-index: 1;
}
.order-summary-checkout-wrapper {
    padding: 0px 1.25rem;
}
.order-detail {
    display: block;
}
.animate-height-wrapper > span {
    color: inherit;
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: 550;
    text-transform: inherit;
}
.discount {
    margin-top: 0.625rem;
    margin-bottom: 1.125rem;
}
.input-with-button {
    display: flex;
    width: 100%;
}
.input-style-wrapper {
    flex: 1 1 0%;
}
.input-wrapper {
    position: relative;
    width: 100%;
}
.input-style-label {
    appearance: none;
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    margin-bottom: 0;
}
.input-discount-field {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    background: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    height: 3.45rem;
    padding: 1.125rem 1.25rem 0px;
    border: 1px solid rgb(224, 224, 224);
    overflow: visible;
}
.input-discount-field:focus {
    outline: none;
}
.apply-discount-button {
    white-space: nowrap;
    transform: translateX(-1px);
    margin-right: -1px;
    border-radius: 0px 0.3125rem 0.3125rem 0px;
    box-shadow: none;
    max-height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
    font-weight: 550;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 109, 183);
    color: rgb(0, 0, 0);
}
.apply-discount-button:hover {
    background: rgb(230, 243, 255);
}
.apply-discount-button:focus {
    outline: none;
}
.price-row {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 0.9375rem;
}
.order-value-text {
    color: inherit;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 500;
    text-transform: inherit;
}
.vat {
    margin-bottom: 0.9375rem;
}
.vat-text {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 0.625rem;
    font-size: 0.875rem;
}
.order-total {
    display: block;
}
.total-row {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-weight: 500;
    margin-left: auto;
}
.total-row-title {
    display: block;
}
.total-row-text,
.total-row-title > span {
    color: inherit;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-transform: inherit;
}
.order-summary-button-wrapper {
    display: flex;
    padding: 0px 0px 1.25rem 0px;
    /* margin-bottom: 1.25rem; */
    flex-flow: wrap;
    row-gap: 1.125rem;
}
.order-summary-link {
    margin: 1.125rem auto auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 750px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 3.0625rem;
    gap: 0.75rem;
    width: max-content;
    padding: 0 1.25rem;
    background-clip: padding-box;
    background-color: #eb7114;
    border-radius: 30rem;
    border: .125rem transparent solid;
    color: #000;
    min-width: max-content;
    outline: none!important;
    font-weight: 550;
    letter-spacing: 0;
    font-size: clamp(.9375rem,.244898vw + .880102rem,1.125rem);
    line-height: 1.5;
}
.order-summary-link:hover {
    text-decoration: underline;
    color: #000;
    background-color: #cd6a2a;
}
.icon-wrapper {
    height: clamp(1.375rem,.489796vw + 1.2602rem,1.75rem);
    width: clamp(1.375rem,.489796vw + 1.2602rem,1.75rem);
    color: #000;
    justify-content: center;
    align-items: center;
    display: flex;
}
.icon-wrapper > svg {
    color: #000;
    width: 100%;
}

/*empty-bag*/

.empty-bag {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 1.875rem;
}
.empty-bag-icon {
    color: #0067b2;
    height: clamp(1.1875rem,.244898vw + 1.1301rem,1.375rem);
    width: clamp(1.1875rem,.244898vw + 1.1301rem,1.375rem);
    justify-content: center;
    align-items: center;
    display: flex;
}
.empty-bag-title {
    color: inherit;
    font-size: 1.25rem;
    line-height: 1.9375rem;
    font-weight: 550;
    text-transform: inherit;
}
.empty-bag-link {
    cursor: pointer;
}
.empty-bag-link:hover {
    text-decoration: underline;
}
.empty-bag-text {
    display: inline-flex;
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.empty-bag-text > span {
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 400;
    text-transform: inherit;
}
.empty-bag-text > svg {
    margin-left: 0.3125rem;
    color: rgb(0, 0, 0);
    transition: transform 0.1s linear 0s;
    display: block;
    flex: 0 0 auto;
    line-height: 0;
    height: 12px;
}

/*account modal*/
.account-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    opacity: 1;
}
.account-modal {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: scale(1) translateY(0px);
    height: auto;
    width: auto;
    max-height: 95%;
    max-width: 82.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
}
.exit-account-modal {
    font-size: 16px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 3.75rem;
    width: 3.75rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}
.exit-account-modal > i {
    font-size: 26px;
}
.exit-account-modal:focus {
    outline: none;
}
.account-modal-container {
    max-width: 25.625rem;
    padding: 1.125rem;
}
.title-wrapper {
    display: flex;
    margin-bottom: 1.875rem;
    max-width: 20.9375rem;
}
.title-wrapper > img {
    display: block;
    margin-right: 1.25rem;
    max-width: 15%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}
.title-wrapper > h2 {
    margin: 0px;
    padding-right: 1.125rem;
    line-height: 1.5625rem;
    color: rgb(0, 0, 0);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-transform: inherit;
}
.login-btn {
    display: block;
    width: 100%;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 109, 183);
    color: rgb(0, 0, 0);
}
.login-btn:hover {
    color: #000;
    text-decoration: none;
    background: rgb(230, 243, 255);
}
.space {
    display: block;
    padding: 0px 0px 0.9375rem;
}
.register-btn {
    margin: 0px 0px 1.25rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.register-btn > a {
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: rgb(0, 109, 183);
    border-color: transparent;
}
.register-btn > a:hover {
    text-decoration: none;
}
.oder-status {
    margin: 0px 0px 1.25rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.25rem 0px 0px;
    border-top: 1px solid rgb(224, 224, 224);
}
.oder-status > img {
    margin-right: 1.875rem
}