 * {
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Cera Pro', sans-serif;
    box-sizing: border-box;
    height: 100%;
}
header {
    height: 55px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
}
.no-scroll {
    overflow: hidden;
}
.contact {
    cursor: pointer;
    margin-left: 30px;
    font-size: 12px;
    padding: 8px;
    background-color: #abd9ff;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.contact > button > a {
    color: black;
    text-decoration: none;
    font-weight: 550;
}
.contact > button {
    font-size: 12px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #abd9ff;
}
.account {
    position: absolute;
    right: 126px;
    width: 40px;
    height: 40px;
}
.account > button {
    background-color: transparent;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    font-size: 0.75rem;
    line-height: 1.1875rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    border: none;
}
.account > button:focus {
    outline: none;
}
.account > button > span {
    font-size: 12px;
    font-weight: 500;
    padding-left: 8px;
}
.account > button > img {
    width: 100%;
    height: 100%;
}
.header {
    height: 75px;
    background-color: rgba(255, 207, 0, 1);
    display: flex;
    justify-content: space-between;
}
.logo-menu {
    display: flex;
    width: 30%;
}
.logo {
    padding: 10px 30px;
}
.logo > a > img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.menu {
    padding-left: 20px;
    position: relative;
    z-index: 4;
}
.shop,
.dis,
.help {
    line-height: 75px;
    color: black;
    font-size: 16px ;
    font-weight: 500;
    text-decoration: none;
    padding: 0 18px;
    background-color: transparent;
    border: none;
    outline: none;
}
.help:hover,
.dis:hover,
.shop:hover {
    text-decoration: underline;
    color: #000;
}
.help:focus,
.dis:focus,
.shop:focus {
    outline: none;
}
.hidden-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 3;
    display: none;
}
.hidden-menu-content {
    margin-top: 8rem;
    height: 100%;
    margin-left: 7rem;
    padding-left: 2.5rem;
    /* border-left: 1px solid rgb(202, 202, 202); */
    transition: opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    opacity: 1;
}
.content-1 > a {
    display: block;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.menu-content-list {
    overflow-y: auto;
    padding-right: 0.9375rem;
    height: calc(((100% - 1.25rem) - 1.1875rem) - 0.625rem);
}
.menu-content-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 13.75rem;
    margin-bottom: 1.125rem;
}
.menu-content-item > a {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: rgb(0, 0, 0);
}
.content-1,
.content-2,
.content-3 {
    display: none;
}
.search-bar {
    width: 55%;
    display: flex;
    align-items: center;
    z-index: 2;
}
.utility-section {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}
.hidden-search {
    display: none;
    height: 50px;
    width: 300px;
    background-color: #fff;
    border-radius: 30px;
    z-index: 2;
}
.btn-exit {
    right: 6%;
    top: 4%;
    position: absolute;
    font-size: 24px;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: none;
    outline: none;
}   
.btn-exit:focus {
    outline: none;
} 
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.search:focus {
    outline: none;
}
.hidden-search-close-btn,
.hidden-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.hidden-search-icon:focus {
    outline: none;
}
.hidden-search-keyword {
    width: 200px;
    height: 100%;
    border: none;
    outline: none;
}
.search,
.wishlist,
.cart {
    padding: 0 16px;
    font-size: 20px;
}
.hidden-search-close-btn,
.hidden-search-icon {
    font-size: 20px;
}
.hidden-search-close-btn > a,
.hidden-search-icon > a,
.search > a,
.wishlist > a,
.cart > a {
    color: black;
}
.cart {
    display: flex;
    align-items: center;
}
.cart > p {
    padding-left: 4px;
    font-size: 12px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ mờ 50% */
    z-index: 2; /* Đảm bảo overlay nằm trên các phần tử khác */
    display: none; /* Ẩn overlay ban đầu */
}
 /* Chuyển slide */

.slides {
    height: 475px;
    width: 100%;
    display: flex;
}
.slide {
    width: 100%;
    height: 100%;
    display: flex;
}
.slide:not(.active) {
    display: none;
}

.image-slide {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}
.image-slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.overlay-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: rgba(255, 207, 0, 1);
    font-size: 60px;
}

/* -------------------------- */

.trending-pro-img,
.trending-pro-infor {
    width: 50%;
    height: 100%;
}
.trending-pro-infor {
    background-color: rgba(103, 64, 163, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.trending-pro-img {
    position: relative;
    display: flex;
}
.trending-pro-img > img {
    transition: 0.3s;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    transform: translateX(20%);
    z-index: 1;
}
.trending-pro-img > img:hover {
    transform: scale(1.2) translateX(-20%);
}
.brick-1 {
    width: 110px;
    height: 20%;
    border-right: 10px solid rgba(241, 112, 113, 1);
    background-color: rgba(103, 64, 163, 1);
    position: absolute;
    border-bottom: 10px solid rgba(241, 112, 113, 1);
}
.brick-2 {
    top: 20%;
    width: 40px;
    height: 10%;
    border-right: 10px solid rgba(241, 112, 113, 1);
    background-color: rgba(103, 64, 163, 1);
    position: absolute;
}
.brick-3 {
    top: 30%;
    width: 90px;
    border-right: 10px solid rgba(241, 112, 113, 1);
    height: 15%;
    background-color: rgba(103, 64, 163, 1);
    position: absolute;
    border-top: 10px solid rgba(241, 112, 113, 1);
}
.brick-4 {
    top: 45%;
    width: 150px;
    border-right: 10px solid rgba(241, 112, 113, 1);
    height: 20%;
    background-color: rgba(103, 64, 163, 1);
    position: absolute;
    border-bottom: 10px solid rgba(241, 112, 113, 1);
    border-top: 10px solid rgba(241, 112, 113, 1);
}
.brick-5 {
    top: 65%;
    position: absolute;
    height: 10%;
    border-right: 10px solid rgba(241, 112, 113, 1);
}
.brick-6 {
    top: 75%;
    width: 190px;
    border-right: 10px solid rgba(241, 112, 113, 1);
    position: absolute;
    height: 25%;
    border-top: 10px solid rgba(241, 112, 113, 1);
    background-color: rgba(103, 64, 163, 1);
}
.infor-detail-price,
.infor-detail-name {
    font-size: 36px;
    color: white;
}
.infor-detail-name {
    width: 400px;
    overflow-wrap: break-word;
    padding-bottom: 20px;
}
.see-more,
.buy-now {
    font-size: 16px;
    cursor: pointer;
    padding: 16px 26px;
    border-radius: 4px;
    border: none;
    outline: none;
}
.see-more:hover,
.buy-now:hover {
    background-color: black;
    color: white;
}
.infor-detail-action {
    padding-top: 22px;
    position: relative;
}
.buy-now {
    position: absolute;
    right: 120px;
}
.category {
    max-width: 100%;
    height: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.category-items {
    height: 70%;
    width: 70%;
    list-style: none;
    display: flex;
}
.category-item {
    height: 100%;
    width: calc(100% / 8);
    text-align: center;
}
.category-item-infor {
    width: 100%;
    height: 100%;
}
.category-item-infor > a {
    display: block; 
    text-align: center;
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    height: 100%;
}
.category-item-infor > a > img {
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin: 0 auto 20px;
}
.category-item-infor > a > span {
    padding-top: 10px;
}
.category-item-infor > a:hover span {
    color: rgb(0, 109, 183);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}
.recommen {
    width: 100%;
    padding-bottom: 50px;
}
.recommen-title {
    padding: 30px 70px 20px;
    font-size: 32px;
    font-weight: 400;
}
.recommen-pro {
    display: flex;
}
.prev-btn,
.next-btn {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev-btn > button,
.next-btn > button {
    border: 1px solid rgb(221, 218, 218);
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    background-color: white;
    transform: translateY(-200%);
    z-index: 2;
    outline: none;
}
.prev-btn > button:hover,
.next-btn > button:hover {
    background-color: rgb(221, 218, 218);
}
.hide {
    display: none;
}
.product-wrapper {
    position: relative;
    width: calc(100% - 120px);
    display: flex;
    justify-content: space-around;
    height: 510px;
    overflow: hidden;
}
.product-item {
    height: 100%;
    width: 23%;
    display: none;
}
.product-item.active {
    display: block;
}
.product-item-img {
    height: 64%;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgb(224, 224, 224);
}
.product-item-name {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}
.product-item-name > a {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}
.product-item-name > a:hover {
    text-decoration: underline;
}
.product-item-name > a > span {
    word-wrap: break-word;
}
.product-item-rating,
.product-item-price {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
}
.product-item-price { 
    font-size: 18px;
    color: #000;
    font-weight: 600;
}
.product-item-rating > i {
    color: rgba(255, 213, 0, 1);
}
.product-item-btn {
    height: 11%;
    text-align: center;
    line-height: 11%;
}
.product-item-btn > button {
    outline: none;
    background: transparent;
    border: none;
    height: 98%;
    width: 100%;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    background-color: rgba(253, 128, 36, 1);
}
.add-bag > a {
    color: #000;
    text-decoration: none;
}
.product-item-btn > button:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(253, 128, 36, 1);
}
.add-wishlist,
.new {
    height: 20%;
}
.img {
    height: 60%;
    width: 100%;
}
.img > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img > a > img {
    max-width: 80%;
    height: auto;
    transition: 0.5s;
    z-index: 1;
}
.product-item-img {
    overflow: hidden;
}
.product-item-img:hover > .img > a > img,
.img > a > img:hover {
    transform: scale(1.25);
}
.add-wishlist {
    position: relative;
}
.add-wishlist > button {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: rgb(241, 238, 238);
}
.add-wishlist > button > a {
    color: rgba(0, 109, 183, 1);
    font-weight: bold;
}
.new {
    position: relative;
}
.new > span {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 12px;
    padding: 6px 10px;
    background-color: rgba(255, 207, 0, 1);
}

.news {
    width: 100%;
    background-color: rgb(2, 28, 71);
}
.news-content {
    padding: 40px 20px;
    margin: 20px 100px 0;
}
.news-content-title {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}
.news-content-pro {
    display: flex;
    height: 356px;
}
.news-content-pro-item {
    width: 25%;
    height: 100%;
    margin-right: 20px;
    text-align: center;
    cursor: pointer;
}
.news-content-pro-item:hover .text-wrapper-act > a{
    text-decoration: underline;
}
.text-wrapper-name,
.text-wrapper-dis,
.text-wrapper-act > a {
    text-decoration: none;
    color: white;
    height: calc(100% / 3);
}
.img-wrapper {
    height: 65%;
    width: 100%;
}
.img-wrapper > a > img {
    max-width: 100%;
    max-height: 100%;
}
.text-wrapper {
    height: 35%;
    width: 100%;
    text-align: center;
}
.text-wrapper-name {
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 600;
}
.text-wrapper-dis {
    font-size: 14px;
}
.text-wrapper-act {
    font-size: 16px;
    font-weight: 600;
}
.spotlights {
    width: 100%;
}
.spotlight-content {
    padding: 40px 20px;
    margin: 20px 100px 0;
}
.spotlight-title {
    font-size: 32px;
    padding-bottom: 20px;
}
.spotlight-product {
    height: 690px;
    display: flex;
    justify-content: space-between;
}
.spotlight-product-item {
    height: 100%;
    width: 49.8%;
    cursor: pointer;
    position: relative;
}
.spotlight-product-item:hover .text-shop-now > a {
    text-decoration: underline;
}
.spotlight-product-item-img {
    width: 100%;
    height: 100%;
}
.spotlight-product-item-img > img {
    max-width: 100%;
    max-height: 100%;
}
.spotlight-product-item-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6%;
    left: 5%;
}
.spotlight-product-item-text-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #000;
    top: 6%;
    left: 16%;
}
.spotlight-product-item-text-1 > span,
.spotlight-product-item-text-1 > p,
.spotlight-product-item-text > span,
.spotlight-product-item-text > p {
    margin-bottom: 20px;
}
.spotlight-product-item-text-1 > span,
.spotlight-product-item-text > span {
    font-size: 24px;
    font-weight: 550;
}
.spotlight-product-item-text-1 > p,
.spotlight-product-item-text > p {
    font-size: 14px;
}
.spotlight-product-item-text-1 > .text-shop-now > a {
    color: #000;
}
.text-shop-now > a {
    text-decoration: none;
    color: #fff;
    font-weight: 550;
}
.spotlight-product-item-logo-disney {
    width: 74px;
    height: 50px;
    position: absolute;
    bottom: 2%;
    left: 3%;
}
.spotlight-product-item-logo-disney > img {
    max-width: 100%;
    max-height: 100%;
}
.spotlight-product-item-logo-technic {
    width: 150px;
    height: 20px;
    display: flex;
    position: absolute;
    bottom: 4%;
    right: 12%;
}
.spotlight-product-item-logo-technic-1 {
    width: 36px;
    height: 50px;
    display: flex;
    position: absolute;
    bottom: 2%;
    right: 3%;
}
footer {
    width: 100%;
}
.footer-1,
.footer-2,
.footer-3 {
    background: rgb(32, 29, 72);
    color: rgb(255, 255, 255);
    padding: 40px 20px 20px;
}
.footer-section {
    display: block;
}
.footer-section-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 82.5rem;
    background-color: rgb(32, 29, 72);
    margin: 0px auto;
}
.wrapper-logo-region {
    margin-right: 1.25rem;
    padding: 0px;
    flex: 1 1 0%;
    background: rgb(32, 29, 72);
    color: rgb(255, 255, 255);
}
.logo-region {
    max-width: 601px;
    display: block;
}
.logo-img2 {
    display: flex;
    margin-bottom: 20px;
}
.logo-img2 > img {
    height: 6.0625rem;
    width: 6.0625rem;
    margin-right: 0.75rem;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.region {
    margin-bottom: 0px;
    flex: 1 1 0%;
    display: flex;
    align-items: flex-start;
}
.region > button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.1875rem;
    padding: 0.625rem 0.9375rem 0.625rem 0.625rem;
    background-color: rgb(24, 21, 45);
    margin-bottom: 1.5625rem;
    color: #fff;
    border: none;
    outline: none;
}
.region > button > i {
    padding: 0.625rem;
    margin: 0px 0.625rem 0px 0px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    line-height: 0;
    height: 19px;
    width: 25px;
}
.gift-cards > a {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 0.625rem 0px
}
.gift-cards > a:hover {
    text-decoration: underline;
}
.wrapper-supports {
    padding-top: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    flex: 4 1 0%;
}
.support {
    flex: 1 1 0%;
    padding-left: 0.625rem;
    margin-right: 1.25rem;
}
.support-title {
    padding: 0px 0.9375rem;
    margin: 0px 0px 1.5625rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.support-list {
    list-style: none;
    cursor: pointer;
}
.support-list-item {
    display: list-item;
    text-align: -webkit-match-parent;
}
.support-list-item > a {
    display: block;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    line-height: 1.5625rem;
}
.privacies {
    display: flex;
    flex-direction: column;
    max-width: 82.5rem;
    background-color: rgb(32, 29, 72);
    margin: 0px auto;
}
.privacy-list {
    list-style: none;
    display: flex;
}
.privacy-list-item {
    margin: 0 30px 20px 0;
}
.privacy-list-item:hover > a {
    text-decoration: underline;
}
.privacy-list-item > a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.privacies > p {
    font-size: 12px;
    margin: 0 0 20px;
}
.email-social {
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    max-width: 82.5rem;
    background-color: rgb(32, 29, 72);
    margin: 0px auto;
}
.email-input-container {
    width: 250px;
    margin: 30px 0 0;
}
.input-button {
    display: flex;
    width: 100%;
}
.email {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    background: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    height: 3.45rem;
    position: relative;
    padding: 1.125rem 2.8125rem 0px 1.25rem;
    border: 1px solid rgb(224, 224, 224);
}
.email > input {
    border: none;
    outline: none;
}
.email-sub-error {
    position: absolute;
    color: #fff;
    font-size: 12px;
    font-weight: 550;
    left: 0;
    top: 100%;
}
.btn-go:hover {
    color: #000;
}
.btn-go {
    white-space: nowrap;
    transform: translateX(-20px);
    margin-right: -1px;
    border-radius: 0px 0.3125rem 0.3125rem 0px;
    box-shadow: none;
    max-height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(253, 128, 36);
    border-color: rgb(253, 128, 36);
    color: rgb(0, 0, 0);
    position: relative;
    border-width: 2px;
}
.email-sub,
.social {
    display: block;
    max-width: 82.5rem;

}
.email-sub-content > span,
.social-icon > span {
    font-weight: 550;
}
.social-button {
    margin: 30px 0 0;
    display: flex;
}
.social-button-icon {
    font-size: 18px;
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background-color: #121029;
}
.social-button-icon > a {
    color: #fff;
}

.account-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    opacity: 1;
}
.account-modal {
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: scale(1) translateY(0px);
    height: auto;
    width: auto;
    max-height: 95%;
    max-width: 82.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
}
.exit-account-modal {
    font-size: 16px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 3.75rem;
    width: 3.75rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}
.exit-account-modal > i {
    font-size: 26px;
}
.exit-account-modal:focus {
    outline: none;
}
.account-modal-container {
    max-width: 25.625rem;
    padding: 1.125rem;
}
.title-wrapper {
    display: flex;
    margin-bottom: 1.875rem;
    max-width: 20.9375rem;
}
.title-wrapper > img {
    display: block;
    margin-right: 1.25rem;
    max-width: 15%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}
.title-wrapper > h2 {
    margin: 0px;
    padding-right: 1.125rem;
    line-height: 1.5625rem;
    color: rgb(0, 0, 0);
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    text-transform: inherit;
}
.login-btn {
    display: block;
    width: 100%;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 109, 183);
    color: rgb(0, 0, 0);
}
.login-btn:hover {
    color: #000;
    text-decoration: none;
    background: rgb(230, 243, 255);
}
.space {
    display: block;
    padding: 0px 0px 0.9375rem;
}
.register-btn {
    margin: 0px 0px 1.25rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.register-btn > a {
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: rgb(0, 109, 183);
    border-color: transparent;
}
.register-btn > a:hover {
    text-decoration: none;
}
.oder-status {
    margin: 0px 0px 1.25rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1.25rem 0px 0px;
    border-top: 1px solid rgb(224, 224, 224);
}
.oder-status > img {
    margin-right: 1.875rem
}