* {
    padding: 0;
    margin: 0;
    font-family: 'Cera Pro', sans-serif;
}
html {
    box-sizing: border-box;
    height: 100%;
}
header {
    height: 55px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
}

/*account and contact*/
.no-scroll {
    overflow: hidden;
}
.contact {
    cursor: pointer;
    margin-left: 30px;
    font-size: 12px;
    padding: 8px;
    background-color: #abd9ff;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.contact > button > a {
    color: black;
    text-decoration: none;
    font-weight: 550;
}
.contact > button {
    font-size: 12px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #abd9ff;
}
.account {
    flex: 0 1 85%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.account > button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    font-size: 0.75rem;
    line-height: 1.1875rem;
    color: rgb(0, 0, 0);
    font-weight: 550;
    border: none;
    background: transparent;
}
.account > button:focus {
    outline: none;
}
.account > button > svg {
    margin-right: 0.625rem;
    line-height: 0;
    height: 20px;
    width: 20px;
}
/*header*/
.header {
    height: 75px;
    background-color: rgba(255, 207, 0, 1);
    display: flex;
    justify-content: space-between;
}
.logo-menu {
    display: flex;
    width: 30%;
}
.logo {
    padding: 10px 30px;
}
.logo > a > img {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.menu {
    padding-left: 20px;
    position: relative;
    z-index: 4;
}
.shop,
.dis,
.help {
    line-height: 75px;
    color: black;
    font-size: 16px ;
    font-weight: 500;
    text-decoration: none;
    padding: 0 18px;
    background-color: transparent;
    border: none;
    outline: none;
}
.help:hover,
.dis:hover,
.shop:hover {
    text-decoration: underline;
    color: #000;
}
.help:focus,
.dis:focus,
.shop:focus {
    outline: none;
}
.hidden-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    z-index: 3;
    display: none;
}
.hidden-menu-content {
    margin-top: 8rem;
    height: 100%;
    margin-left: 7rem;
    padding-left: 2.5rem;
    transition: opacity 0.7s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    opacity: 1;
}
.content-1 > a {
    display: block;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.menu-content-list {
    overflow-y: auto;
    padding-right: 0.9375rem;
    height: calc(((100% - 1.25rem) - 1.1875rem) - 0.625rem);
}
.menu-content-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 13.75rem;
    margin-bottom: 1.125rem;
}
.menu-content-item > a {
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: rgb(0, 0, 0);
}
.content-1,
.content-2,
.content-3 {
    display: none;
}
.search-bar {
    width: 55%;
    display: flex;
    align-items: center;
    z-index: 2;
}
.utility-section {
    display: flex;
    width: 15%;
    justify-content: center;
    align-items: center;
}
.hidden-search {
    display: none;
    height: 50px;
    width: 300px;
    background-color: #fff;
    border-radius: 30px;
    z-index: 2;
}
.btn-exit {
    right: 6%;
    top: 4%;
    position: absolute;
    font-size: 24px;
    height: 17px;
    width: 17px;
    background-color: transparent;
    border: none;
    outline: none;
}   
.btn-exit:focus {
    outline: none;
} 
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.search:focus {
    outline: none;
}
.hidden-search-close-btn,
.hidden-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.hidden-search-icon:focus {
    outline: none;
}
.hidden-search-keyword {
    width: 200px;
    height: 100%;
    border: none;
    outline: none;
}
.search,
.wishlist,
.cart {
    padding: 0 16px;
    font-size: 20px;
}
.hidden-search-close-btn,
.hidden-search-icon {
    font-size: 20px;
}
.hidden-search-close-btn > a,
.hidden-search-icon > a,
.search > a,
.wishlist > a,
.cart > a {
    color: black;
}
.cart {
    display: flex;
    align-items: center;
}
.cart > p {
    padding-left: 4px;
    font-size: 12px;
    margin-bottom: -3px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ mờ 50% */
    z-index: 2; /* Đảm bảo overlay nằm trên các phần tử khác */
    display: none; /* Ẩn overlay ban đầu */
}

/* footer*/
footer {
    width: 100%;
}
.footer-1,
.footer-2,
.footer-3 {
    background: rgb(32, 29, 72);
    color: rgb(255, 255, 255);
    padding: 40px 20px 20px;
}
.footer-section {
    display: block;
}
.footer-section-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 82.5rem;
    background-color: rgb(32, 29, 72);
    margin: 0px auto;
}
.wrapper-logo-region {
    margin-right: 1.25rem;
    padding: 0px;
    flex: 1 1 0%;
    background: rgb(32, 29, 72);
    color: rgb(255, 255, 255);
}
.logo-region {
    max-width: 601px;
    display: block;
}
.logo-img2 {
    display: flex;
    margin-bottom: 20px;
}
.logo-img2 > img {
    height: 6.0625rem;
    width: 6.0625rem;
    margin-right: 0.75rem;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.region {
    margin-bottom: 0px;
    flex: 1 1 0%;
    display: flex;
    align-items: flex-start;
}
.region > button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.1875rem;
    padding: 0.625rem 0.9375rem 0.625rem 0.625rem;
    background-color: rgb(24, 21, 45);
    margin-bottom: 1.5625rem;
    color: #fff;
    border: none;
    outline: none;
}
.region > button > i {
    padding: 0.625rem;
    margin: 0px 0.625rem 0px 0px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    line-height: 0;
    height: 19px;
    width: 25px;
}
.gift-cards > a {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 0.625rem 0px
}
.gift-cards > a:hover {
    text-decoration: underline;
}
.wrapper-supports {
    padding-top: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    flex: 4 1 0%;
}
.support {
    flex: 1 1 0%;
    padding-left: 0.625rem;
    margin-right: 1.25rem;
}
.support-title {
    padding: 0px 0.9375rem;
    margin: 0px 0px 1.5625rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.support-list {
    list-style: none;
    cursor: pointer;
}
.support-list-item {
    display: list-item;
    text-align: -webkit-match-parent;
}
.support-list-item > a {
    display: block;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 0.625rem 0.9375rem;
    font-size: 1rem;
    line-height: 1.5625rem;
}
.privacies {
    display: flex;
    flex-direction: column;
    max-width: 82.5rem;
    background-color: rgb(32, 29, 72);
    margin: 0px auto;
}
.privacy-list {
    list-style: none;
    display: flex;
}
.privacy-list-item {
    margin: 0 30px 20px 0;
}
.privacy-list-item:hover > a {
    text-decoration: underline;
}
.privacy-list-item > a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
.privacies > p {
    font-size: 12px;
    margin: 0 0 20px;
}
.email-social {
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    max-width: 82.5rem;
    background-color: rgb(32, 29, 72);
    margin: 0px auto;
}
.email-input-container {
    width: 250px;
    margin: 30px 0 0;
}
.input-button {
    display: flex;
    width: 100%;
}
.email {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    background: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    height: 3.45rem;
    position: relative;
    padding: 1.125rem 2.8125rem 0px 1.25rem;
    border: 1px solid rgb(224, 224, 224);
}
.email > input {
    border: none;
    outline: none;
}
.email-sub-error {
    position: absolute;
    color: #fff;
    font-size: 12px;
    font-weight: 550;
    left: 0;
    top: 100%;
}
.btn-go:hover {
    color: #000;
}
.btn-go {
    white-space: nowrap;
    transform: translateX(-20px);
    margin-right: -1px;
    border-radius: 0px 0.3125rem 0.3125rem 0px;
    box-shadow: none;
    max-height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(253, 128, 36);
    border-color: rgb(253, 128, 36);
    color: rgb(0, 0, 0);
    position: relative;
    border-width: 2px;
}
.email-sub,
.social {
    display: block;
    max-width: 82.5rem;

}
.email-sub-content > span,
.social-icon > span {
    font-weight: 550;
}
.social-button {
    margin: 30px 0 0;
    display: flex;
}
.social-button-icon {
    font-size: 18px;
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background-color: #121029;
}
.social-button-icon > a {
    color: #fff;
}

/*bread cumb wrapper*/
.bread-crumb-wrapper {
    max-width: 100rem;
    padding: 1.25rem 1.875rem;
    background: rgb(255, 255, 255);
    font-size: 0.875rem;
    line-height: 1.1875rem;
    display: flex;
}
.bread-crumb-item {
    padding-right: 10px;
    font-family: 'Cera Pro', sans-serif;
}
.bread-crumb-item > a {
    color: #006db7;
}
.direct {
    font-size: 10px;
    color: #a9a9a9;
}

/*side menu bar account*/
.content-container {
    display: flex;
    flex-direction: row;
    padding: 0px 1.875rem 2.5rem;
}
.side-menu-bar {
    display: flex;
    max-width: 18.75rem;
    flex-direction: column;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: none;
    flex: 1 1 35%;
}
.side-menu-bar-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    border-left: 1px solid rgb(224, 224, 224);
    border-right: 1px solid rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    cursor: pointer;
    /* background-color: rgb(0, 109, 183); */
}
.side-menu-bar-item-link {
    display: block;
    flex: 1 1 0%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* cursor: pointer; */
}
.side-menu-bar-item-link:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.side-menu-bar-item-label {
    display: block;
    flex: 1 1 0%;
    border-bottom: 1px solid transparent;
    line-height: 1;
    padding: 1.25rem;
    font-size: 0.875rem;
    /* color: rgb(255, 255, 255);
    text-decoration: underline; */
}

/*menu-content*/
.inner-content-container {
    min-width: 0px;
    width: 100%;
    padding: 0px 1.5625rem;
}
.text-base {
    color: inherit;
    font-size: 1.25rem;
    line-height: 1.9375rem;
    font-weight: 400;
    text-transform: inherit;
}
.personal-address-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1.125rem 0px;
    background-color: rgb(248, 248, 248);
    padding: 1.125rem;
    border-radius: 5px;
}
.personal-address-detail-text {
    margin-bottom: 0.9375rem;
    color: inherit;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 400;
    text-transform: inherit;
}
.common-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.common-button-container > a {
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(0, 109, 183);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 109, 183);
}
.common-button-container > a:hover {
    text-decoration: none;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*latest order*/
.latest-order-content-container {
    margin: 1.5625rem 0;
}
.no-order-content-container {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 1.125rem 0px;
    padding: 1.5625rem;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
}
.no-order-content-container-text {
    color: inherit;
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: 500;
    text-transform: inherit;
}
.no-order-button-container {
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(0, 109, 183);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 109, 183);
}
.no-order-button-container:hover {
    text-decoration: none;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/*support block*/
.support-card-container {
    padding: 0px 1.125rem;
    position: relative;
    margin: 2.5rem 0px 1.125rem;
    width: calc(100% - 3.125rem);
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
}
.support-block-image {
    height: 6.62rem;
    position: absolute;
    top: -1.563rem;
    right: -3.125rem;
}
.support-block-text {
    display: block;
    padding: 0.9375rem 0px;
    color: inherit;
    font-size: 1.25rem;
    line-height: 1.9375rem;
    font-weight: 400;
    text-transform: inherit;
}
.support-block-horizontal-seperator {
    height: 0;
    border-bottom: 1px solid #e0e0e0;
    margin-right: 50px;
}
.support-block-link-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.support-link-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.9375rem 0;
}
.support-link {
    text-decoration: none;
    width: 50%;
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
    cursor: pointer;
}
.support-link:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

/*wishlist content*/
.create-wishlist-block {
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 248, 248);
    padding: 1.125rem;
    border-radius: 5px;
}
.create-wishlist-block > h1 {
    margin-top: 0px;
}
.create-wishlist-container {
    display: flex;
    flex-direction: row;
}
.create-wishlist-container > img {
    margin-right: 1.5625rem;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    object-fit: contain;
    width: auto;
    height: auto;
}
.create-wishlist-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-base-nd {
    margin-bottom: 0px;
    color: inherit;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 550;
    text-transform: inherit;
}
.description {
    margin-top: 0px;
    color: inherit;
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: 400;
    text-transform: inherit;
}
.create-wishlist-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.9375rem;
}
.create-wishlist-button-container > button {
    min-width: 40%;
    align-self: flex-start;
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(0, 109, 183);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 109, 183);
}
.create-wishlist-button-container > button:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.create-wishlist-button-container > button:focus {
    outline: none;
}
.wishlist-summary {
    margin: 5rem 0 5rem 0;
}

/*personal & address detail*/
.account-detail-block {
    background-color: #f8f8f8;
    padding: 0.625rem;
    border-radius: 0.313rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1.125rem 0;
}
.account-detail-infor-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.account-detail-infor {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    word-break: break-word;
}
.account-detail-infor-email {
    color: inherit;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 400;
    text-transform: inherit;
}
.address-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.625rem;
}
.add-address-button {
    min-width: 49%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.625rem 0;
    border: 1px dotted #e0e0e0;
    padding: 1.125rem;
    min-height: 7.5rem;
    cursor: pointer;
    background: transparent;
}
.add-address-button:focus {
    outline: none;
}
.icon-wrapper {
    color: #666;
    height: clamp(2.375rem,.816327vw + 2.18367rem,3rem);
    width: clamp(2.375rem,.816327vw + 2.18367rem,3rem);
    justify-content: center;
    align-items: center;
    display: flex;
}
.icon-wrapper > svg {
    width: 100%;
}
.add-address-button-text {
    margin-left: 0.9375rem;
    color: rgb(117, 117, 117);
    font-size: 1rem;
    line-height: 1.5625rem;
    font-weight: 400;
    text-transform: inherit;
}
.edit-form {
    display: none;
    flex-direction: column;
    margin: 0.625rem 0px;
    background-color: rgb(248, 248, 248);
    /* border: 1px solid rgb(224, 224, 224); */
    padding: 1.125rem;
}
.address-card-container {
    display: none;
    flex-direction: column;
    margin: 0.625rem 0px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(224, 224, 224);
    padding: 1.125rem;
}
.address-cancel-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0.9375rem;
}
.cancel-button-header-edit {
    cursor: pointer;
    padding: 0px 0px 0.3125rem;
    display: inline-block;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: rgb(0, 109, 183);
    border-color: transparent;
}
.cancel-button-header {
    cursor: pointer;
    padding: 0px 0px 0.3125rem;
    display: inline-block;
    width: auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: rgb(0, 109, 183);
    border-color: transparent;
}
.cancel-button-header-text {
    color: rgb(0, 109, 183);
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 400;
    text-transform: inherit;
}
.address-form-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.address-form-input-container {
    margin-bottom: 1.125rem;
    min-width: 49%;
}
.input-wrapper {
    position: relative;
    width: 100%;
}
.input-label {
    appearance: none;
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}
.input-field {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    background: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    height: 3.45rem;
    padding: 1.125rem 1.25rem 0px;
    border: 1px solid rgb(224, 224, 224);
}
.input-field:focus {
    outline: none;
}
.input-title {
    appearance: none;
    display: block;
    position: absolute;
    top: 0.9375rem;
    left: 1.25rem;
    transform-origin: left top;
    transition: all 0.1s ease-in-out 0s;
    transform: translate(0px, 0px);
    color: rgb(117, 117, 117);
    font-size: 1em;
    white-space: nowrap;
    pointer-events: none;
}
.input-title.active {
    transform: translate(1px, -0.4375rem);
    font-size: 0.8em;
}
.address-form-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.9375rem;
}
.cancel-button-edit {
    margin-right: 0.3125rem;
    min-width: 9.375rem;
    margin-top: 0.9375rem;
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 109, 183);
    color: rgb(0, 0, 0);
}
.cancel-button {
    margin-right: 0.3125rem;
    min-width: 9.375rem;
    margin-top: 0.9375rem;
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 109, 183);
    color: rgb(0, 0, 0);
}
.save-button {
    min-width: 9.375rem;
    margin-top: 0.9375rem;
    display: inline-block;
    width: auto;
    padding: 0.9375rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    background-color: rgb(0, 109, 183);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 109, 183);
}
.cancel-button-edit:hover,
.cancel-button:hover {
    background: rgb(230, 243, 255);
}
.save-button:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.save-button:focus {
    outline: none;
}
.cancel-button-edit:focus,
.cancel-button:focus {
    outline: none;
}
.saved-address-card-container {
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    margin: 0.625rem 0px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(224, 224, 224);
    padding: 1.125rem;
}
.saved-address-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.simple-address-container {
    display: flex;
    flex-direction: column;
}
.text-base-address {
    color: inherit;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 400;
    text-transform: inherit;
}
.address-button-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.edit-address {
    padding: 0px 0px 0.3125rem;
    display: inline-block;
    width: auto;
    /* padding: 0.9375rem; */
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-collapse: collapse;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    color: rgb(0, 109, 183);
    border-color: transparent;
    background: transparent;
}
.edit-form {
    display: none;
}
.edit-address-title {
    color: inherit;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 400;
    text-transform: inherit;
}
.delete-address {
    display: flex;
    align-items: center;
    margin: 0.3125rem;
    background: transparent;
    border: none;
    cursor: pointer;
}
.delete-address > svg {
    color: rgb(0, 109, 183);
    line-height: 0;
}
.edit-address:focus,
.delete-address:focus {
    outline: none;
}